<nav class=" blue-grey darken-3">
    <div class="container">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo
           center">YourStory</a>
        {{#if user}}
        <!--Dropdown Trigger-->
        <div 
            class='dropdown-button  grey lighten-4 btn-flat ' 
            href='#' 
            data-beloworigin="true" 
            hover="true" 
            data-activates='dropdown1' 
            style=" width: 50px; height: 40px; align-items: center;
            margin: 0; 
            padding: 0;"
        >
            <i class="material-icons" style=" margin: 0; position: absolute; top: 0; margin-left: 15px; margin-top: 2px;  font-size: 20px;color:grey lighten-4" >dehaze</i>
       </div>
 
        <!-- Dropdown Structure -->
        <ul id='dropdown1' class='dropdown-content'>
        <li><a href="/stories" style="color:black"><i class="fa fa-book"></i>Public Stories</a></li>
        <li class="divider"></li>
        <li><a href="/dashboard" style="color:black"><i class="fa fa-user"></i>Dashboard</a></li>
        </ul> 
        {{/if}}
         

                <!--RIGHT NAV -->
                <ul class="right hide-on-small-only">
                    {{#if user}}
                    <li>
                        <a href="/dashboard">Welcome, {{user.firstName}}
                        </a>
                    </li>
                    <li>
                        <a href="/auth/logout">
                            <i class="fa fa-sign-out">
                            </i> Logout</a>
                    </li>
                    {{else}}
                    <li>
                        <a href="/stories">
                            <i class="fa fa-book">
                            </i> Public Stories</a>
                    </li>
                    {{/if}}
                </ul>
        </div>
    </div>
</nav>