body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .nav-wrapper .fa-bars{
      font-size: 25px;
  }

  footer{
      margin-top:20px;
  }

  #cc{
      color: rgb(224, 187, 20);
  }

  .story-text{
      height: 80px;
  }

  .dash-status{ 
      text-transform : capitalize;
  }

  #delete-form{
      display: inline;
  }

  #cf{
      font-family:Bradley Hand,cursive;
  }

  #dropdown1{
      font-size: small;
  }

  