<h1>Welcome</h1>
<p>Welcome to YourStory </p>
<p>Post stories from the best and worst of your life and
    choose from them to be read by the world or
    keep them completely private as your own personal diary.
</p>
{{#if user}}
{{else}}
  <a class = "btn red darken-3" href="/auth/google">
  <i class="fa fa-google left"></i> Login With Google</a>
{{/if}}